<div class="row">
	<div class="well col-lg-12">
		<h2 style="text-align: center;">مجالات العناوين </h2>
		<h4 style="text-align: right;"><%= link_to 'مجال عناوين جديد', new_isp_ip_range_path(isp) %></h4>
		<ul class="isp_ip_ranges_grid">
			<% isp.ip_ranges.each do |ip_r| %>
				<li>
					<%= link_to ip_r.ip_range + '/' + ip_r.subnet_mask , isp_ip_range_path(@isp, ip_r) %>
				</li>
			<% end %>				
		</ul>
	</div>
</div>