<div class="row">
	<div class="well col-lg-12">
		<h2 style="text-align: center;">ملاحظات </h2>
		<h4 style="text-align: right;"><%= link_to 'ملاحظة جديدة', new_isp_note_path(isp) %></h4>
		<table class="table table-bordered" style="direction: rtl;">
			<thead>
				<th>
					الملاحظة
				</th>
				<th>
					التاريخ
				</th>
			</thead>
			<tbody>
					<% isp.notes.each do   |n| %>
						<tr>
							<td><%= n.note %></td>
							<td><%= n.created_at %></td>
						</tr>

					<% end %>
			</tbody>
		</table>
	</div>
	
</div>