<div class="col-lg-12 well " style="direction: rtl;text-align: center;">
	<table class="table  table-bordered">
		<thead>
		  <tr>
		    <th>المزود</th>
		    <th>العنوان العام</th>
		    <th>عنوان الموجه</th>
		    <th>العنوان الخاص</th>
		    <th>تاريخ الاسناد</th>
		    <th>تاريخ التحرير</th>
		    <th>الاسناد في الراديوس</th>
		    <th>التحرير في الراديوس</th>
		    <th>ملاحظات</th>
		  </tr>
		</thead>
		<%= will_paginate %>

		<tbody id="requests_table">
			    
		</tbody>
	</table> 		             
</div>