<%= render 'shared/page_title' , title: "العمليات" %>


<div class="row well" style="direction: rtl;">
	<h3 style="text-align: center;">بحث ضمن جدول العمليات </h3>
	<%= render 'request_search_tabs' %>
</div>
<div class="row request_table_div">	
	
</div>
<hr/>