<div class="well">
	<%= form_tag(req_search_path , :method => 'get', :remote => :true) do %>
		<%= label_tag(:isp_id, "اسم المزود") %>
  		<%= select_tag :isp_id,  options_for_select(@isps.collect{ |u| [u.name , u.id]})  %>
  		<%= submit_tag 'بحث' , name: nil , class: 'btn btn-success' %>
	<% end %>	
</div>