<%= render 'shared/page_title' , :title => "Home" %>


<!-- This page contains: huge jomputron contains three or four buttons for:
	1. Requests index page (which contains search facilities)
	2. ISPs index page.
-->

<div class="jumbotron home_jumpo">

	<%= link_to 'Requests' , requests_path , :class => 'btn btn-success home-button' %>
	<%= link_to 'ISPs' , isps_path , :class => 'btn btn-success home-button' %>

</div>