<%= render 'shared/page_title' , title: "مجال العنواين" %>

<div class="row">
	<div class="col-lg-12 well">
		<table class="table">
			<thead>
				<th>Notes</th>
				<th>Last Update</th>
			</thead>
			<tbody>
				<% @ip_range.ip_range_notes.each do |n| %>
					<tr>
						<td><%= n.note %></td>
						<td><%= n.last_update %> </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
</div>
