	<div class="well" style="font-size: 1.2em;"> 
		العنوان الرقمي عائد لمزود: <%= link_to isp_path(ip_range.isp) , ip_range.isp.name ,:class => 'btn btn-success'  %>&nbsp;&nbsp;
		 المجال <%= ip_range.ip_range + '/' + ip_range.subnet_mask %>
		&nbsp;&nbsp; والملاحظات:

    </div>
