@import "bootstrap-sprockets";
@import "bootstrap";



#logo {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	margin-left: 30px;
	font-weight: bold;
}

#logo:hover {
	color: white;
	text-decoration: none;
}

body {
	padding-top: 150px;
	}

.nav-item {
	margin-left: 25px;
	float: left;
	margin-top:  20px;
}

.footer{
	height: 30px;
	background-color: #e6e6e6;
	bottom: 0;
	width: 100%;

}

input , textarea {
	
	padding-bottom: 5px;
	border: 1px solid #2d2d2d;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	text-align: center;
}
.release_date , .assign_date {
	width: 100%;
}
#request_isp_id{
	width: 100%;
	text-align: center;
}
select {
	border: 1px solid #2d2d2d;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	font-size: 1.3em;
}
input {
	height: auto !important;
}

.home-button{
	height: 250px;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 105px 0;
	margin-left: 160px;
	font-weight: bold;
	text-align: center;

}

.home_jumpo {
	height: 350px;
}

table th{
	text-align: center;
}
.table_seq{
	width: 30px;
}

.index_table{
	text-align: center;
}

.ip_ranges_modal_list {
	float: left;
	font-size: 1.3em;
	margin-bottom: 10px;
	display: block;
}
.isp_ip_ranges_grid li {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 10px;
}
.p_home_num{
  margin-left: 0px;
  margin-right: 3px;
  padding-left: 0px;
  margin-right: 3px;
  list-style-type: none;
}
