@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";



#logo {
	color: white;
	margin-right: 30px;
	margin: 10px;
	float: right;
	display: block;
	font-size: 1.2em;
	align: center;
	text-transform: uppercase;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: white;
	background-color: green;
	text-decoration: none;
}
#nav_user , #nav_user2 {
	font-size: 1.1em;	
}

body {
	padding-top: 150px;
	}

.nav-item {
	margin-left: 25px;
	float: left;
	margin-top:  20px;
}

.footer{
	height: 30px;
	background-color: #e6e6e6;
	bottom: 0;
	width: 100%;

}

.general-form input {
	
	padding-bottom: 5px;
	border: 1px solid #2d2d2d;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	text-align: center;
	height: auto !important;
}

.general-form textarea {
	
	padding-bottom: 5px;
	border: 1px solid #2d2d2d;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	text-align: center;
	height: auto !important;
}


.release_date , .assign_date {
	width: 100%;
	height: auto !important;
}
#request_isp_id{
	width: 100%;
	text-align: center;
}
select {
	border: 1px solid #2d2d2d;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	font-size: 1.3em;
	height: auto !important;	
}


.search-form{
	padding-right: 50px;
	width: 400px;
	margin-right: 250px;
 }
 .search-form input{
 	height: 40px;
 	color: green;
 	font-size: 0.8em;	
 }

.home-button{
	height: 250px;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 105px 0;
	margin-left: 160px;
	font-weight: bold;
	text-align: center;

}

.home_jumpo {
	height: 350px;
}

table th{
	text-align: center;
}
.table_seq{
	width: 30px;
}

.index_table{
	text-align: center;
}

.ip_ranges_modal_list {
	float: left;
	font-size: 1.3em;
	margin-bottom: 10px;
	display: block;
}
.isp_ip_ranges_grid li {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 10px;
}
.p_home_num{
  margin-left: 0px;
  margin-right: 3px;
  padding-left: 0px;
  margin-right: 3px;
  list-style-type: none;
}

td , .isp_ip_ranges_grid li {
	color: #595959;
}

.hr_table td{
	direction: rtl;
	text-align: center;
}

.hr_table{
	direction: rtl;
}

.table_ip_r td{
	text-align: center;
}

tr.request_has_error{
	background-color: #efa5a5;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 30px;
  @include box_sizing;
}

