<header class="navbar navbar-fixed-top navbar-default" style="direction: rtl;">
  		<%= link_to "صفحة العمل", root_path, class: "btn btn-lg btn-success pull-right", id: "logo" %>
        <div class="nav-item pull-right">
			<%= link_to "البحث", '/requests', class: "btn btn-default " %>
		</div>
</header>