<header class="navbar navbar-fixed-top navbar-default">
  		<%= link_to "MySite", root_path, class: "btn btn-lg btn-success", id: "logo" %>
        <div class="nav-item">
			<%= link_to "Search", '/requests', class: "btn btn-default" %>
		</div>
</header>